mixin ProjectExpenditureTracking
  .row.flex-between-center.mb-4.g-3
    .col-auto
      h3 Project Expenditure Tracking
      p.text-body-tertiary.lh-sm.mb-0 Actual Spend vs Budget vs Accruals
  .echart-financial-line-bar(style='min-height:320px;width:100%')